
.additional-products__title {
  font-family: Oswald, Arial, sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: $black;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }
}

.additional-products__item-title {
  font-family: Oswald, Arial, sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: $grey-87;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.additional-products__item-text,
.additional-products__item-price {
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: $grey-73;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }
}

.additional-products__item-button {
  font-family: Oswald, Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: $white;
}

.additional-products__gift-text {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: $white;
}
