
.additional-products {
  padding: 25px 20px 35px;

  @media (min-width: $tablet-width) {
    padding: 20px 30px 76px;
  }

  @media (min-width: $desktop-width) {
    padding: 10px 110px 86px;
  }
}

.additional-products__title {
  position: relative;
  margin: 0;
  padding-bottom: 36px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: $black;

  .additional-products__title-container {
    padding-right: 22px;
    background-color: $white;
  }

  &::before {
    @include design-strip();
    top: 15px;
    left: 0;
    right: -20px;
  }

  @media (max-width: $mobile-width-only) {
    border-bottom: 1px solid $grey-20;
  }

  @media (min-width: $tablet-width) {
    padding-bottom: 80px;
    font-size: 36px;
    line-height: 36px;

    .additional-products__title-container {
      padding: 0 37px;
      background-color: $white;
    }

    &::before {
      top: 22px;
      left: -30px;
      right: -30px;
    }
  }

  @media (min-width: $desktop-width) {
    .additional-products__title-container {
      padding-left: 40px;
      padding-right: 35px;
    }

    &::before {
      right: -110px;
      left: -110px;
    }
  }
}

.additional-products__container {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.additional-products__wrapper {
  padding-bottom: 39px;

  @media (min-width: $tablet-width) {
    padding-bottom: 69px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    margin-right: 76px;
    padding: 0;
  }
}

.additional-products__item {
  padding-top: 13px;
  border-bottom: 1px solid $grey-20;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 26px 38px 28px;
    border: 1px solid $grey-20;
    border-bottom: 0;

    &:last-child {
      border-bottom: 1px solid $grey-20;
    }
  }

  @media (min-width: $desktop-width) {
    flex-wrap: nowrap;
    align-items: center;
    padding: 15px 0 17px;
    border-left: 0;
    border-right: 0;
  }
}

.additional-products__item-title {
  margin: 0;
  margin-bottom: 13px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: $grey-87;

  @media (min-width: $tablet-width) {
    margin-bottom: 28px;

    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    margin-right: auto;
  }
}

.additional-products__item-wrapper {
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    align-items: center;
    gap: 50px;
  }

  @media (min-width: $desktop-width) {
    width: 290px;
    margin-right: 38px;
  }
}

.additional-products__item-text,
.additional-products__item-price {
  margin: 0;
  margin-bottom: 15px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: $grey-73;

  @media (min-width: $tablet-width) {
    margin-bottom: 28px;
    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.additional-products__item-button {
  width: 100%;
  height: 40px;
  margin-bottom: 19px;
  font-size: 16px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
  }
}

.additional-products__gift {
  height: 289px;
  padding: 58px 0 43px;
  background: url("../img/gift-mobile.jpg");

  @include background ();

  @media (min-resolution: 2dppx) {
    background: url("../img/gift-mobile@2x.jpg");

    @include background ();
  }

  @media (min-width: $tablet-width) {
    height: 200px;
    padding: 57px 124px 69px 77px;
    background: url("../img/gift-tablet.jpg");

    @include background ();

    @media (min-resolution: 2dppx) {
      background: url("../img/gift-tablet@2x.jpg");

      @include background ();
    }
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    height: 289px;
    padding: 56px 42px 42px;
    background: url("../img/gift-desktop.jpg");

    @include background ();

    @media (min-resolution: 2dppx) {
      background: url("../img/gift-desktop@2x.jpg");

      @include background ();
    }
  }
}

.additional-products__gift-text-wrapper {
  .additional-products__gift-text {
    width: 161px;
    margin: 0 auto;
    font-family: "Arial", sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    text-align: center;
    color: $white;
  }

  &::before {
    display: block;
    width: 78px;
    height: 80px;
    margin: 0 auto 48px;
    background: url("../img/icon_gift.svg");
    content: "";
  }

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .additional-products__gift-text {
      margin: 0;
      text-align: left;
    }

    &::before {
      flex-shrink: 0;
      width: 80px;
      height: 83px;
      margin: 0;
    }
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;

    .additional-products__gift-text {
      text-align: center;
    }

    &::before {
      margin-bottom: 46px;
    }
  }
}
