
.additional-to-nutrition {
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    padding: 30px 67px 0 70px;
  }

  @media (min-width: $desktop-width) {
    padding: 30px 110px 36px;
  }
}

.additional-to-nutrition__title {
  position: relative;
  margin: 0;
  padding: 13px 20px 20px;

  font-family: Oswald, Arial, sans-serif;
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
  color: $black;

  .additional-to-nutrition__title-container {
    display: inline-block;
    padding-right: 22px;
    background-color: $white;
  }

  &::before {
    @include design-strip();
    top: 28px;
    left: 20px;
    right: 0;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 93px;
    padding: 0;
    font-size: 36px;
    line-height: 36px;

    .additional-to-nutrition__title-container {
      position: absolute;
      left: -40px;
      padding-inline: 40px 41px;
    }

    &::before {
      top: 22px;
      left: -70px;
      right: -67px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 98px;

    &::before {
      left: -110px;
      right: -110px;
    }
  }
}

.additional-to-nutrition__list {
  @include list();
  padding: 13px 20px 21px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
  }
}

.additional-to-nutrition__item {
  margin-bottom: 24px;
  padding-left: 46px;

  &:last-child {
    margin: 0;
  }

  @media (min-width: $tablet-width) {
    width: 50%;
    margin: 0;
    margin-bottom: 42px;
    padding-left: 59px;

    &:last-child {
      margin-bottom: 42px;
    }
  }

  @media (min-width: $desktop-width) {
    width: 25%;
    margin: 0;

    &:last-child {
      margin: 0;
    }
  }
}

.additional-to-nutrition__label {
  position: relative;
  user-select: none;

  font-family: Oswald, Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: $black;

  cursor: pointer;

  &::before {
    position: absolute;
    width: 30px;
    height: 30px;

    top: -3px;
    left: -46px;

    border: 1px solid $grey-20;
    content: "";
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;

    &::before {
      width: 40px;
      height: 40px;

      top: -5px;
      left: -59px;
    }
  }
}

.additional-to-nutrition__input:checked + .additional-to-nutrition__label::after {
  position: absolute;
  top: 5px;
  left: -40px;

  width: 18px;
  height: 14px;

  background: url(../img/icon-check.svg);
  content: "";

  @media (min-width: $tablet-width) {
    top: 9px;
    left: -48px;
  }
}

.additional-to-nutrition__input:hover + .additional-to-nutrition__label::before,
.additional-to-nutrition__input:focus + .additional-to-nutrition__label::before {
  border-color: $grey-27;
}

.additional-to-nutrition__input:focus-visible + .additional-to-nutrition__label::before {
  border-color: $grey-73;
}

.additional-to-nutrition__input:disabled + .additional-to-nutrition__label {
  opacity: 0.3;
}
