
.advantages__title {
  font-family: Oswald, Arial, sans-serif;
  color: $black;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
}

.advantages__list {
  list-style: none;
}

.advantages__item {
  font-family: Arial, sans-serif;
  color: $grey-73;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}
