
.cat-goal__list {
  margin: 0;
  list-style: none;
}

.cat-goal__label {
  font-family: Oswald, Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: $grey-87;
}
