
.cat-goal {
  margin: 0;
  padding: 28px 20px 25px;

  @media (max-width: $mobile-width-only) {
    border-bottom: 1px solid $grey-15;
  }

  @media (min-width: $tablet-width) {
    padding: 30px 67px 51px 70px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.cat-goal__list {
  @include list();
  padding: 0;

  @media (min-width: $tablet-width) {
    padding: 30px 0 30px 29px;
    border: 1px solid $grey-9;
  }
}

.cat-goal__item {
  margin-bottom: 25px;
  padding-left: 46px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    padding-left: 60px;
    margin-bottom: 23px;
  }
}

.cat-goal__input:checked + .cat-goal__label::after {
  position: absolute;
  top: 5px;
  left: -38px;
  width: 14px;
  height: 14px;
  background: $green;
  border: 1px solid $green;
  border-radius: 50%;
  content: "";

  @media (min-width: $tablet-width) {
    top: 7px;
    left: -49px;
    width: 18px;
    height: 18px;
  }
}

.cat-goal__label {
  position: relative;
  user-select: none;

  font-family: Oswald, Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: $grey-87;

  cursor: pointer;

  &::before {
    position: absolute;
    top: -3px;
    left: -46px;

    width: 30px;
    height: 30px;
    border: 1px solid $grey-20;
    border-radius: 50%;
    content: "";
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;

    &::before {
      top: -4px;
      left: -60px;
      width: 40px;
      height: 40px;
    }
  }
}

.cat-goal__input:hover + .cat-goal__label::before {
  border-color: $grey-27;
}


.cat-goal__input:focus + .cat-goal__label::before {
  border-color: $grey-27;
}

.cat-goal__input:disabled + .cat-goal__label {
  opacity: 0.5;
}
