
.cat-contacts {
  margin: 0;
  padding: 26px 20px 13px;

  @media (min-width: $tablet-width) {
    padding: 20px 67px 35px 70px;
  }

  @media (min-width: $desktop-width) {
    padding: 14px 110px 39px;
  }
}

.cat-contacts__title {
  position: relative;
  margin: 0;
  margin-bottom: 35px;

  font-family: Oswald, Arial, sans-serif;
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
  color: $black;

  .cat-contacts__title-container {
    display: inline-block;
    width: min-content;
    padding-right: 15px;
    background-color: $white;
  }

  &::before {
    @include design-strip();
    top: 16px;
    left: 0;
    right: -20px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 112px;
    font-size: 36px;
    line-height: 36px;

    .cat-contacts__title-container {
      position: absolute;
      left: -40px;
      width: auto;
      padding-inline: 39px 42px;
    }

    &::before {
      top: 22px;
      left: -70px;
      right: -65px;
    }
  }

  @media (min-width: $desktop-width) {

    &::before {
      left: -110px;
      right: -110px;
    }
  }
}

.cat-contacts__wrapper {

  @media (min-width: $desktop-width) {
    display: flex;
    gap: 78px;
  }
}

.cat-contacts__paragraph {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 14px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 50%;
    margin: 0;
  }
}

.cat-contacts__label,
.cat-contacts__input {
  font-family: Oswald, Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: $grey-73;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.cat-contacts__label {
  margin-right: 12px;
  white-space: nowrap;

  @media (min-width: $tablet-width) {
    margin-right: 18px;
  }
}

.cat-contacts__input {
  width: 100%;
  height: 45px;
  padding: 0;
  padding-inline: 15px 50px;
  color: $grey-73;
  border: none;
  outline: 1px solid $grey-9;

  &::placeholder {
    color: $grey-73;
  }

  &:hover {
    outline-color: $grey-20;
  }

  &:focus {
    outline: 2px solid $grey-73;
  }

  @media (min-width: $tablet-width) {
    padding-inline: 21px 60px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 18px;
  }
}

.cat-contacts__input:focus + .cat-contacts__icon-email {
  stroke: $green;
}

.cat-contacts__input:focus + .cat-contacts__icon-phone {
  stroke: $green;
}

.cat-contacts__icon-email {
  position: absolute;
  right: 16px;
  width: 18px;
  height: 13px;
  stroke: $grey-87;

  @media (min-width: $tablet-width) {
    right: 20px;
  }
}

.cat-contacts__icon-phone {
  position: absolute;
  right: 13px;
  width: 20px;
  height: 20px;

  @media (min-width: $tablet-width) {
    right: 16px;
  }
}
