
.catalog__more-title {
  font-family: Oswald, Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: $grey-93;
}

.catalog__more-text {
  font-family: Arial, sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: $grey-73;
}

.catalog__more-button {
  font-family: Oswald, Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: $grey-73;

  background-color: $grey-5;
  border: none;
}
