.contacts__offer {
  align-self: center;
  width: 140px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: $grey-93;

  @media (min-width: $tablet-width) {
    width: 171px;
    font-size: 20px;
    line-height: 21px;
  }
}

.contacts__address,
.contacts__town {
  align-self: center;
  width: 140px;
  margin: 0;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: $grey-73;

  @media (min-width: $tablet-width) {
    width: 159px;
    font-size: 16px;
    text-align: end;
  }
}

.contacts__address {
  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }
}
