
.example {

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    background: linear-gradient($white 0%, $white 30%, $grey-8 30%, $grey-8 100%);
  }
}

.example__wrapper {
  padding: 27px 20px 31px;
  background-color: $grey-8;

  @media (min-width: $tablet-width) {
    padding: 43px 30px 0;
    background-color: $white;
  }

  @media (min-width: $desktop-width) {
    padding: 0 45px 70px 110px;
    background: linear-gradient($white 0%, $white 30%, $grey-8 30%, $grey-8 100%);
  }
}

.example__text-wrapper {

  @media (min-width: $desktop-width) {
    width: 440px;
    margin-right: 130px;
  }
}

.example__title {
  margin: 0;
  margin-bottom: 33px;

  font-family: Oswald, Arial, sans-serif;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  color: $black;

  @media (min-width: $tablet-width) {
    margin-bottom: 63px;

    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 146px;
    padding-top: 64px;
  }
}

.example__text {
  margin: 0;
  margin-bottom: 25px;

  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: $grey-73;

  @media (min-width: $tablet-width) {
    margin-bottom: 69px;
    font-size: 16px;
    line-height: 24px;
  }
}

.example__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 11px;

  @media (min-width: $tablet-width) {
    flex-wrap: nowrap;
    margin-bottom: 84px;
  }

  @media (min-width: $desktop-width) {
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 0;
  }
}

.example__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 44%;
  height: 56px;

  border: 1px solid $grey-20;
  border-radius: 3px;

  @media (min-width: $tablet-width) {
    width: 162px;
    height: 72px;
  }

  &:first-child {
    margin-right: 32px;

    @media (min-width: $tablet-width) {
      margin-right: 42px;
    }
  }
}

.example__number {
  padding-top: 28px;

  font-family: Oswald, Arial, sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  color: $black;

  @media (min-width: $tablet-width) {
    padding-top: 21px;
    font-size: 30px;
    line-height: 37px;
  }
}

.example__description {
  width: 87px;
  padding: 8px 14px 0;
  margin: 0;

  font-family: Arial, sans-serif;
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  text-align: center;
  color: $grey-73;

  background-color: $grey-8;

  @media (min-width: $tablet-width) {
    width: auto;
    padding: 9px 10px 0;

    font-size: 14px;
    line-height: 14px;

    background-color: $white;
  }

  @media (min-width: $desktop-width) {
    background-color: $grey-8;
  }
}

.example__spent {
  display: flex;
  padding-top: 34px;
  font-family: Oswald, Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  color: $black;

  @media (min-width: $tablet-width) {
    flex-direction: column;
    align-items: flex-end;
    align-self: center;
    margin-left: auto;
    padding-top: 0;

    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    margin-left: 0;
    padding-top: 55px;
  }
}

.example__spent-text {

  @media (min-width: $desktop-width) {
    margin-right: 63px;
  }
}

.example__spent-value {
  margin: 0;
}

.example__img-wrapper {
  background-color: $grey-8;

  @media (max-width: $mobile-width-only) {
    padding-bottom: 39px;
  }

  @media (min-width: $tablet-width) {
    height: 636px;
    background: linear-gradient($white 0%, $white 27%, $grey-8 27%, $grey-8 100%);
  }

  @media (min-width: $desktop-width) {
    align-self: center;
    height: 635px;
    margin-right: 110px;
    background: none;
  }
}

.example__images {
  position: relative;
  width: 311px;
  height: 232px;
  margin: 0 auto 35px;

  @media (min-width: $tablet-width) {
    position: relative;

    width: 677px;
    height: 520px;
    margin: 0 auto 113px;
  }
}

.example__image {
  position: absolute;
  width: 100%;
  height: 100%;
}

.example__image--skinny-cat {
  display: none;
  background: url(../img/skinnycat-mobile.webp);
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background: url(../img/skinnycat-mobile@2x.webp);
    background-size: cover;
  }

  @media (min-width: $tablet-width) {
    display: block;
    background-image: url(../img/skinnycat-tabl-desk.webp), linear-gradient($white 0%, $white 33%, $grey-8 33%, $grey-8 100%);
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background: url(../img/skinnycat-tabl-desk@2x.webp), linear-gradient($white 0%, $white 33%, $grey-8 33%, $grey-8 100%);
      background-size: cover;
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url(../img/skinnycat-tabl-desk.webp), linear-gradient($white 0%, $white 36%, $grey-8 36%, $grey-8 100%);
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background: url(../img/skinnycat-tabl-desk@2x.webp), linear-gradient($white 0%, $white 36%, $grey-8 36%, $grey-8 100%);
      background-size: cover;
    }
  }
}

.example__image--fat-cat {
  background: url(../img/fatcat-mobile.webp);
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background: url(../img/fatcat-mobile@2x.webp);
    background-size: cover;
  }

  @media (min-width: $tablet-width) {
    display: block;
    width: 50%;
    background: url(../img/fatcat-tabl-desk.webp), linear-gradient($white 0%, $white 33%, $grey-8 33%, $grey-8 100%);
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background: url(../img/fatcat-tabl-desk@2x.webp), linear-gradient($white 0%, $white 33%, $grey-8 33%, $grey-8 100%);
      background-size: cover;
    }
  }

  @media (min-width: $desktop-width) {
    width: 50%;
    background: url(../img/fatcat-tabl-desk.webp), linear-gradient($white 0%, $white 36%, $grey-8 36%, $grey-8 100%);
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background: url(../img/fatcat-tabl-desk@2x.webp), linear-gradient($white 0%, $white 36%, $grey-8 36%, $grey-8 100%);
      background-size: cover;
    }
  }
}

.example__mobile-button-wrapper {

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.example__mobile-button {
  position: relative;
  width: 84px;
  height: 14px;
  margin: 0 auto;
  box-sizing: border-box;
  background: $white;
  border: 1px solid $grey-20;
  border-radius: 6px;

  &::before,
  &::after {
    position: absolute;
    top: -4px;
    font-family: Oswald, Arial, sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    text-transform: uppercase;
    color: $black;
  }

  &::before {
    content: "было";
    left: -50px;
  }

  &::after {
    content: "стало";
    right: -50px;
  }
}

.example__mobile-button--before,
.example__mobile-button--after {
  cursor: pointer;
  position: absolute;
  top: 3px;
  width: 35px;
  height: 6px;
  background: $green;
  border: none;
  border-radius: 6px;
}

.example__mobile-button--after {
  left: 5px;
}

.example__mobile-button--before {
  display: none;
  right: 5px;
}
