
.main-nav {
  position: relative;

  @media (min-width: $tablet-width) {
  display: flex;
  justify-content: space-between;
  padding: 0;
  }
}

.main-nav__container {
  display: flex;
  justify-content: space-between;
  padding: 11px 20px 17px;
  align-items: center;

  @media (min-width: $tablet-width) {
    width: 174px;
    padding: 24px 30px 60px;
    box-sizing: content-box;
  }
}

.main-nav__link--active {
  @media (min-width: $tablet-width) {
    position: relative;
  }
}

.main-nav__link--active::before {
  @media (min-width: $tablet-width) {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: $green;
    content: "";
    bottom: 10px;
  }

  @media (min-width: $desktop-width) {
    background-color: $white;
  }
}

.main-nav--closed .main-nav__toggle {  //стили кнопки-бургера при закрытом меню
  border: none;
  background-image: url(../../img/Logo_menu_closed.svg);
  background-color: $white;
  width: 24px;
  height: 18px;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav--opened .main-nav__toggle {  //стили кнопки закрытия при открытом меню
  border: none;
  background-image: url(../../img/logo_menu_opened.svg);
  background-color: $white;
  width: 18px;
  height: 20px;
  margin: 3px;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav__wrapper {
  @media (min-width: $tablet-width) {
    padding: 24px 30px 60px;
  }
}

.main-nav--nojs .main-nav__logo-cat-energy {
  margin-right: 65px;
}

.main-nav__list {
  list-style: none;
  left: 0;
  right: 0;
  background-color: $white;
  padding: 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
  }
}

@media (max-width: $mobile-width-only) {
  .main-nav__item {
    border-top: 1px solid $grey-10;
  }

  .main-nav__item:last-child {
    border-bottom: 1px solid $grey-10;
  }

  .main-nav--closed .main-nav__wrapper,
  .main-nav--nojs .main-nav__toggle {
  display: none;
  }

  .main-nav--opened .main-nav__wrapper,
  .main-nav--nojs .main-nav__wrapper {
    display: block;
  }
}

.main-nav__item {

  @media (min-width: $tablet-width) {
    padding-right: 34px;
  }
}

.main-nav__item:nth-child(3n) {

  @media (min-width: $tablet-width) {
    padding-right: 0;
  }
}

.main-nav__link {
  font-family: Oswald, Arial, sans-serif;
  text-transform: uppercase;
  color: $black;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  padding: 22px 0;
  display: block;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    color: $white;
  }
}
