
.page-footer__offer {
  font-family: Oswald, Arial, sans-serif;
  text-transform: uppercase;
  color: $grey-93;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
}

.page-footer__address {
  font-family: Arial, sans-serif;
  color: $grey-73;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}
