
.catalog__title {
  font-family: Oswald, Arial, sans-serif;
  color: $black;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
}

.product__title {
  font-family: Oswald, Arial, sans-serif;
  color: $black;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

.product__property {
  font-family: Arial, sans-serif;
  color: $grey-73;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
}

.product__button {
  font-family: Oswald, Arial, sans-serif;
  color: $white;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}
