
.programs__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.programs__item {
  background-color: $grey-5;
  margin: 0 20px;
}

.programs-title {
  font-family: Oswald, Arial, sans-serif;
  text-transform: uppercase;
  color: $black;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }
}

.programs-text {
  font-family: Arial, sans-serif;
  color: $grey-73;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    color: $black;
  }
}

.programs-link {
  font-family: Oswald, Arial, sans-serif;
  text-transform: uppercase;
  color: $black;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}
