
.range-controls {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    position: absolute;
    bottom: -28px;
    left: 122px;
  }

  @media (min-width: $desktop-width) {
    bottom: -50px;
    left: 110px;
  }
}

.range-controls__input {

  @media (min-width: $tablet-width) {
    position: absolute;
    appearance: none;
    width: 428px;
    height: 6px;

    background-color: $grey-14;
    border-radius: 6px;

    &::-webkit-slider-thumb {
      cursor: pointer;
      appearance: none;
      width: 8px;
      height: 8px;
      box-sizing: content-box;
      background-color: $green;
      border: 12px solid $white;
      border-radius: 50%;
      outline: 1px solid $grey-14;
      box-shadow: 0px 1px 3px $shadow;

      &:hover {
        box-shadow: 0px 2px 4px $shadow-hover;
      }

      &:active {
        box-shadow: 0px 3px 5px $shadow-active;
      }
    }

    &::-moz-range-thumb {
      cursor: pointer;
      appearance: none;
      width: 8px;
      height: 8px;
      box-sizing: content-box;
      background-color: $green;
      border: 12px solid $white;
      border-radius: 50%;
      outline: 1px solid $grey-14;
      box-shadow: 0px 1px 3px $shadow;

      &:hover {
        box-shadow: 0px 2px 4px $shadow-hover;
      }

      &:active {
        box-shadow: 0px 3px 5px $shadow-active;
      }
    }

    &::before,
    &::after {
      position: absolute;
      top: -13px;
      padding-bottom: 3px;

      font-family: Oswald, Arial, sans-serif;
      font-size: 20px;
      line-height: 30px;
      font-weight: 400;
      text-transform: uppercase;
      color: $black;

      border-bottom: 1px dotted $black-opacity;
    }

    &::before {
      content: "было";
      left: -70px;
    }

    &::after {
      content: "стало";
      right: -70px;
    }
  }
}
