
.social__logo {
  display: block;
  margin: 0 20px;
  padding-top: 39px;
  padding-bottom: 32px;
  text-align: center;
  border-bottom: 1px solid $grey-15;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 0;
    border: none;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.social__list {
  @include list ();

  display: flex;
  justify-content: center;
  margin: 0 20px;
  padding: 24px 0;
  border-bottom: 1px solid $grey-15;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 0;
    border: none;
  }
}

.social__item {
  margin-right: 35px;

  &:last-child {
    margin-right: 0;
  }

  @media (min-width: $tablet-width) {
    margin-right: 25px;
  }
}

.social__icon-vk {
  width: 27px;
  height: 17px;
  fill: $grey-60;

  @media (min-width: $tablet-width) {
    width: 34px;
    height: 23px;
  }

  &:hover {
    fill: $green;
  }

  &:active {
    opacity: 0.3;
  }
}

.social__icon-youtube {
  width: 24px;
  height: 19px;
  fill: $grey-60;

  @media (min-width: $tablet-width) {
    width: 31px;
    height: 25px;
  }

  &:hover {
    fill: $green;
  }

  &:active {
    opacity: 0.3;
  }
}

.social__icon-telegram {
  width: 20px;
  height: 18px;
  fill: $grey-60;

  @media (min-width: $tablet-width) {
    width: 27px;
    height: 28px;
  }

  &:hover {
    fill: $green;
  }

  &:active {
    opacity: 0.3;
  }
}

.social__link-academy {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px 20px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }

  &:hover {
    .social__icon-academy {
      fill: $green;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

.social__link-academy-text {
  margin: 0;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: $grey-73;

  @media (min-width: $tablet-width) {
    margin-right: 22px;
  }
}

.social__icon-academy {
  width: 27px;
  height: 34px;
  fill: $grey-60;

  @media (min-width: $tablet-width) {
    width: 27px;
    height: 28px;
  }
}
