
// Colors

$black: #000000;
$green: #68b738;
$dark-green: #5eaa2f;
$green-opacity: rgba(104, 183, 56, 0.85);
$white: #ffffff;
$white-opacity: rgba(255, 255, 255, 0.3);
$grey-5: #f2f2f2;
$grey-8: #eaeaea;
$grey-10: #e6e6e6;
$grey-14: #dcdcdc;
$grey-15: #d9d9d9;
$grey-20: #cdcdcd;
$grey-23: #c4c4c4;
$grey-60: #666666;
$grey-73: #444444;
$grey-opacity: rgba(68, 68, 68, 0.3);
$grey-87: #222222;
$grey-93: #111111;

// Viewports

$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 767px;

//Mixins

@mixin list () {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin background () {
  background-color: $green;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 60%;
}
