
$black: #000000;
$green: #68b738;
$green-opacity: rgba(104, 183, 56, 0.85);
$white: #ffffff;
$grey-5: #f2f2f2;
$grey-8: #eaeaea;
$grey-10: #e6e6e6;
$grey-14: #dcdcdc;
$grey-15: #d9d9d9;
$grey-20: #cdcdcd;
$grey-23: #c4c4c4;
$grey-60: #666666;
$grey-73: #444444;
$grey-93: #111111;
