
.catalog__title {
  margin: 0;
  padding: 27px 20px 41px;

  font-family: Oswald, Arial, sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: $black;

  @media (max-width: $mobile-width-only) {
    border-top: 1px solid $grey-15;
    border-bottom: 1px solid $grey-15;
  }

  @media (min-width: $tablet-width) {
    padding: 64px 30px 53px;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    padding: 74px 110px 53px;
  }
}

.catalog__basic-goods {

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 140px 60px;
    padding: 100px 30px 48px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    gap: 144px 80px;
    padding: 112px 110px 66px;
  }
}
